<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Drision.Framework.Common" version="6.0.0.2" targetFramework="net452" />
  <package id="Drision.Framework.Common.EntityLibrary" version="6.0.0.2" targetFramework="net452" />
  <package id="Drision.Framework.DAL" version="6.0.0.1" targetFramework="net452" />
  <package id="Drision.Framework.Interfaces" version="6.0.0.1" targetFramework="net452" />
  <package id="Drision.Framework.Ioc" version="6.0.0" targetFramework="net452" />
  <package id="Drision.Framework.Linq" version="6.0.0" targetFramework="net452" />
  <package id="Drision.Framework.LiteQueryDef" version="6.0.0" targetFramework="net452" />
  <package id="MySQL.NET" version="6.9.8" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net452" />
  <package id="Oracle.ManagedDataAccess" version="12.1.24160719" targetFramework="net452" />
</packages>